<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title TS

	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	meta(name="theme-color" content="black")

	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css")
body
	#app

	script(src="/js/main.js")