<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title TS

	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css")
body
	#app ...loading

	script(src="./js/main.js")